NEXT_PUBLIC_SUPABASE_URL=https://mvrfvzcivgabojxddwtk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12cmZ2emNpdmdhYm9qeGRkd3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDc0NDgyOTksImV4cCI6MTk2MzAyNDI5OX0.-vizz4hPlmuRai3UckLKRj_ESosf63JfX8R1NF1r04I