name: ci
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 16
      - run: yarn codegen
      - run: yarn workspace app run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 16
      - run: yarn workspace app run lint

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: supabase/setup-cli@v1
        with:
          version: 1.0.0
      - run: supabase start
